.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0px 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navlogo img{
    width: 50px;
}
.text{
    display: flex;
    flex-direction: column;
}
.text h1{
    font-size: 22px;
    margin: 0;
    font-weight: 600;
}
.text p{
    font-size: 13px;
    margin: 0;
    color: rgb(199, 18, 18);
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .navlogo{
        width: 30px;
    }
    .nav-profile{
        width: 60px;
    }
}